.aboutUsNumbersComponent {
  width: 100%;
  min-height: 100vh;
  background: #07B7F9;
  position: relative;
  justify-content: center;
  display: flex;
}

.container {
  width: 90%;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftBlock {
  width: 50%;
}

.leftBlockTitle {

}

.aboutNumbersContent {

}

.aboutNumbersTopContent,
.aboutNumbersBottomContent {

}

.containerNum {

}

.num {}

.content {

}

.rightBlock {
  width: 50%;
  display: flex;
  padding-bottom: 48px;
  position: relative;
  padding-top: 100px;
}

.parking1,
.parking2,
.parking3 {

}

.parking1 {
  width: 320px;
  height: 692px;
  right: 116px;
  top: 25px;
  z-index: 3;
  position: absolute;
}

.parking2 {
  width: 320px;
  height: 714px;
  right: -83px;
  top: -32px;
  z-index: 2;
  position: absolute;
}

.parking3 {
  width: 180px;
  height: 688px;
  top: 25px;
  position: absolute;
  right: -10%;
}

.stacksBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 48px;
}

.stackBlock {

}

.dot {

}

.stackText {

}
