.briefContainer {
  @media (min-width: 561px) {
    padding-bottom: 400px;
  }
  @media (max-width: 560px) {
    padding-bottom: 100px;
  }

  .briefContent {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    font-family: 'Inter Tight';
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 90px;

    @media (max-width: 560px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    #block2 {
      margin-top: 300px;
      @media (max-width: 560px) {
        margin-top: 100px;
      }
    }

    input {
      color: black;
      border-bottom: 1px solid #bababa;
    }
    textarea {
      color: black;
      border-bottom: 1px solid #bababa;
    }
    span {
      color: black;
    }

    .inputText {
      width: 100%;
      display: flex;
      font-family: 'Inter Tight';
      font-weight: 400;
      @include adaptive-value('font-size', 20, 16, 1);
      line-height: 24px;
      .paragraph {
        color: rgba(62, 206, 93, 1);
      }
      .contentText {
        padding-left: 13px;
      }
    }
    .mainTitle {
      font-weight: 400;
      @include adaptive-value('font-size', 80, 30, 1);
      @include adaptive-value('line-height', 97, 36, 1);
    }
    .blockName {
      margin-top: 60px;
      font-weight: 300;
      @include adaptive-value('font-size', 45, 30, 1);
    }
    .blockDescr {
      margin-top: 72px;
      @include adaptive-value('padding-left', 357, 10, 1);
      @include adaptive-value('gap', 60, 20, 1);
      display: flex;
      align-items: center;
      @include adaptive-value('font-size', 20, 16, 1);
      span {
        font-weight: 400;
        color: #7e7b77;
      }
      .descrText {
        line-height: 30px;
        font-weight: 300;
      }
    }

    .block {
      position: relative;
      width: 74%;
      @media (max-width: 1024px) {
        width: 100%;
      }
      margin-top: 200px;

      #second {
        padding-bottom: 190px;
        @media (max-width: 1024px) {
          span {
            width: 120px;
          }
        }
      }
      @media (min-width: 561px) {
        &::before {
          content: '';
          position: absolute;
          width: 22px;
          height: 22px;
          border-bottom: 3px solid #3ece5d;
          border-right: 3px solid #3ece5d;
          bottom: -212px;

          right: -31%;
          @media(max-width: 1024px){
            right: 1%;
          }
         
        }
      }

      .checkboxesWrapper {
        margin-top: 67px;

        .checkboxes {
          padding-bottom: 30px;
          display: flex;
          justify-content: space-between;
          margin-top: 47px;
          padding-left: 30px;

          @media (max-width: 960px) {
            flex-direction: column;
            gap: 10px;
          }
          span {
            font-family: 'Inter Tight';
            font-weight: 400;
            @include adaptive-value('font-size', 20, 16, 1);
            color: #7e7b77;
          }
          .checkbox-label {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #333;
            margin-bottom: 10px;
            font-weight: 500;

            .checkbox {
              position: relative;
              appearance: none;
              width: 20px;
              height: 20px;
              border: 1px solid black;
              margin-right: 10px;
              outline: none;
              transition: border-color 0.2s ease-in-out;

              &:checked {
                background-color: white;
                border-color: black;

                &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 9px;
                  height: 4px;
                  border: 2px solid rgba(62, 206, 93, 1);
                  border-top: none;
                  border-right: none;
                  transform: translate(-50%, -68%) rotate(-51deg);
                }
              }

              &:hover {
                border-color: rgba(62, 206, 93, 1);
              }
            }
          }
        }
      }
    }
  }
}
