.callbackMenu {
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 11;
  width: 100vw;
  height: 102%;
  @include adaptive-value('padding-top', 39, 27, 1);
  @include adaptive-value('padding-right', 66, 20, 1);
  @include adaptive-value('padding-bottom', 46, 110, 1);
  @include adaptive-value('padding-left', 50, 20, 1);
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 0px !important;
  }

  @media (max-width: 560px) {
    padding-bottom: 25px;
  }

  .callbackMenu_close {
    position: absolute;
    right: 3%;
    cursor: pointer;

    img {
      @include adaptive-value('width', 50, 40, 1);
      @include adaptive-value('height', 50, 40, 1);
    }

    &:hover {
      img {
        transition: 0.5s;
        opacity: 0.5;
      }
    }
  }

  .callbackMenu_main {
    .callbackMenu_main_container {
      display: flex;
      // justify-content: space-between;
      gap: 13vw;

      @media (max-width: 768px) {
        margin-top: 162px;
        gap: 20vw;
        align-items: flex-end;
      }

      @media (max-width: 560px) {
        margin-top: 162px;
        gap: 12vw;
        align-items: center;
        flex-direction: column;
      }
    }

    margin-top: 20px;
    padding-top: 80px;
    display: flex;
    @include adaptive-value('gap', 65, 52, 1);

    &::-webkit-scrollbar {
      width: 0px !important;
    }

    @media (max-width: 768px) {
      overflow-y: auto;
      flex-direction: column;
      overflow-x: hidden;
      margin-top: 20px;
      padding-top: 142px;
    }

    .callbackMenu_main_brief {
      // margin-right: 1vw;
      // margin-left: 12vw;
      display: flex;
      align-items: center;
      color: white;
      gap: 6.5vw;
      font-family: 'Inter Tight';
      font-weight: 400;

      @media (max-width: 768px) {
        gap: 18vw;
      }

      @media (max-width: 560px) {
        gap: 12vw;
        width: 100%;
        flex-direction: column;
      }

      .callbackMenu_main_brief_text1 {
        padding-bottom: 56px;
        @include adaptive-value('font-size', 20, 11, 1);

        @media (max-width: 768px) {
          padding-top: 56px;
          padding-bottom: 0px;
        }

        @media (max-width: 560px) {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      .callbackMenu_main_brief_text2 {
        transition: 0.5s;
        cursor: pointer;
        padding-left: 18px;
        border-left: 1px solid white;
        @include adaptive-value('font-size', 20, 16, 1);
        writing-mode: vertical-lr;
        text-orientation: upright;

        @media (max-width: 560px) {
          height: 24px;
          letter-spacing: 10px;
          border-left: none;
          text-orientation: mixed;
          writing-mode: horizontal-tb;
          border-bottom: 1px solid white;
          padding-left: 8px;
        }
        &:hover {
          color: #7e7b77;
        }
      }
    }

    .callbackMenu_main_staff {
      .callbackMenu_main_staff_politics {
        width: max-content;
        @include adaptive-value('margin-top', 153, 0, 1);
        color: white;
        font-family: 'Inter Tight';

        span {
          border-bottom: 1px solid white;
        }
        font-weight: 300;
        @include adaptive-value('font-size', 16, 12, 1);
      }
      .callbackMenu_main_staff_personnel {
        display: flex;
        gap: 5.5vw;
        margin-top: 75px;
        color: white;
        font-family: 'Inter Tight';

        @media (max-width: 560px) {
          width: 90vw;
          gap: 17vw;
        }

        h2 {
          font-weight: 600;
          @include adaptive-value('font-size', 20, 14, 1);
        }
        span {
          line-height: 22px;
          font-weight: 300;
          @include adaptive-value('font-size', 15, 12, 1);
        }
        .callbackMenu_main_staff_personnel_person {
          img {
            object-fit: cover;
            width: 70px;
            height: 70px;
            border-radius: 50%;
          }
        }
      }

      .callbackMenu_main_staff_slogan {
        line-height: 45px;

        h1 {
          @include adaptive-value('font-size', 32, 24, 1);
          margin-top: 0;
          font-family: 'Inter Tight';
          font-weight: 400;
          color: #3ece5d;
          span {
            font-family: 'Inter Tight';
            font-weight: 400;
            color: white;
          }
          @media (max-width: 560px) {
            line-height: 33px;
          }
        }
      }
    }

    .callbackMenu_main_form {
      display: flex;
      flex-direction: column;
      gap: 26px;

      .callbackMenu_main_form_politics {
        @include adaptive-value('margin-top', 37, 24, 1);
        color: white;
        font-family: 'Inter Tight';

        span {
          border-bottom: 1px solid white;
        }
        font-weight: 300;
        @include adaptive-value('font-size', 16, 12, 1);
      }

      button {
        cursor: pointer;
        height: 65px;
        font-family: 'Inter Tight';
        font-weight: 600;
        @include adaptive-value('font-size', 20, 18, 1);
        color: white;
        border: transparent;
        outline: none;
        background: #3ece5d;
        transition: 0.5s;
        @media (max-width: 560px) {
          height: 50px;
        }
        &:hover {
          background: #1a9634;
        }
      }
      .callbackMenu_main_form_fill {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 28px;
        @include adaptive-value('padding', 20, 1, 1);

        @include adaptive-value('width', 451, 290, 1);
        // @include adaptive-value('height', 491, 460, 1);
        height: 491px;
        border: 1px solid rgba(255, 255, 255, 0.35);

        @media (max-width: 768px) {
          padding: 20px;
          width: 100%;
        }

        @media (max-width: 428px) {
          padding: 10px;
        }

        .callbackMenu_main_form_fill_budget_container {
          margin-bottom: 10px;
          display: flex;
          gap: 10px;
          padding-left: 10px;
          @media (max-width: 428px) {
            padding-left: 0px;
            justify-content: space-between;
          }
          .callbackMenu_main_form_fill_budget {
            height: 27px;
            cursor: pointer;
            padding-top: 6px;
            padding-bottom: 6px;
            color: white;
            width: 100%;
            max-width: 102px;
            display: flex;
            justify-content: center;
            background: rgba(92, 92, 92, 0.46);
            border-radius: 5px;
            font-size: 11px;
            font-family: 'Inter Tight';
            font-weight: 300;
            transition: 0.5s;

            @media (max-width: 428px) {
              padding: 6px;
              width: max-content;
              height: max-content;
              // padding: 10px;
            }

            &:hover {
              background: #5c5c5c;
            }
          }
        }

        h4 {
          font-family: 'Inter Tight';

          font-weight: 300;
          @include adaptive-value('font-size', 16, 14, 1);
          padding-left: 10px;
          margin-bottom: 0;
          margin-top: 60px;
          @media (max-width: 560px) {
            padding-left: 0px;
          }
        }
      }
    }
  }

  .callbackMenu_contacts_container {
    display: flex;
    height: max-content;
    width: 100%;
    justify-content: space-between;

    .callbackMenu_contacts {
      display: flex;
      gap: 6vw;
      @include adaptive-value('font-size', 24, 12, 1);

      .callbackMenu_contacts_item {
        display: flex;
        align-items: center;
        gap: 9px;
        img {
          @include adaptive-value('width', 42, 20, 1);
          @include adaptive-value('height', 42, 20, 1);
        }
        a {
          text-decoration: none;
          font-family: 'Inter Tight';
          font-weight: 300;
          width: max-content;
          color: white;
        }
      }
    }
  }
}
