.callbackMenu {
  top: 0;
  position: fixed;
  z-index: 11;
  width: 100vw;
  height: 100%;
  padding: 39px 66px 46px 50px;
  background: rgba(0, 0, 0, 0.94);
  display: flex;
  flex-direction: column;

  .callbackMenu_close {
    cursor: pointer;

    &:hover {
      img {
        transition: 0.5s;
        opacity: 0.5;
      }
    }
  }

  .callbackMenu_main {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    .callbackMenu_main_brief {
      margin-right: 1vw;
      margin-left: 12vw;
      display: flex;
      align-items: center;
      color: white;
      gap: 6.5vw;
      font-family: 'Inter Tight';
      font-weight: 400;

      .callbackMenu_main_brief_text1 {
        font-size: 20px;
      }

      .callbackMenu_main_brief_text2 {
        transition: 0.5s;
        cursor: pointer;
        padding-left: 18px;
        border-left: 1px solid white;
        font-size: 20px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        &:hover {
          color: #7e7b77;
        }
      }
    }

    .callbackMenu_main_staff {
      .callbackMenu_main_staff_politics {
        margin-top: 140px;
        color: white;
        font-family: 'Inter Tight';

        span {
          border-bottom: 1px solid white;
        }
        font-weight: 300;
        font-size: 16px;
      }
      .callbackMenu_main_staff_personnel {
        display: flex;
        gap: 5.5vw;
        margin-top: 75px;
        color: white;
        font-family: 'Inter Tight';

        h2 {
          font-weight: 600;
          font-size: 20px;
        }
        span {
          line-height: 22px;
          font-weight: 300;
          font-size: 16px;
        }
        .callbackMenu_main_staff_personnel_person {
          img {
            object-fit: cover;
            width: 70px;
            height: 70px;
            border-radius: 50%;
          }
        }
      }

      margin-left: 1.5vw;
      .callbackMenu_main_staff_slogan {
        line-height: 45px;

        h1 {
          margin-top: 0;
          font-family: 'Inter Tight';
          font-weight: 400;
          color: #3ece5d;
          span {
            font-family: 'Inter Tight';
            font-weight: 400;
            color: white;
          }
        }
      }
    }

    .callbackMenu_main_form {
      display: flex;
      flex-direction: column;
      gap: 26px;

      button {
        cursor: pointer;
        height: 65px;
        font-family: 'Inter Tight';
        font-weight: 600;
        font-size: 20px;
        color: white;
        border: transparent;
        outline: none;
        background: #3ece5d;
        transition: 0.5s;
        &:hover {
          background: #1a9634;
        }
      }
      .callbackMenu_main_form_fill {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding: 20px;
        width: 451px;
        height: 491px;
        border: 1px solid rgba(255, 255, 255, 0.35);

        .callbackMenu_main_form_fill_budget_container {
          margin-bottom: 10px;
          display: flex;
          gap: 10px;
          padding-left: 10px;

          .callbackMenu_main_form_fill_budget {
            cursor: pointer;
            padding-top: 6px;
            padding-bottom: 6px;
            color: white;
            width: 100%;
            max-width: 102px;
            display: flex;
            justify-content: center;
            background: rgba(92, 92, 92, 0.46);
            border-radius: 5px;
            font-size: 12px;
            font-family: 'Inter Tight';
            font-weight: 300;
            transition: 0.5s;
            &:hover {
              background: #5c5c5c;
            }
          }
        }

        h4 {
          font-family: 'Inter Tight';

          font-weight: 300;
          font-size: 16px;
          padding-left: 10px;
          margin-bottom: 0;
          margin-top: 60px;
        }
      }
    }
  }

  .callbackMenu_contacts_container {
    display: flex;
    height: max-content;
    width: 100%;
    justify-content: space-between;

    .callbackMenu_contacts {
      display: flex;
      gap: 6vw;
      font-size: 24px;

      .callbackMenu_contacts_item {
        display: flex;
        align-items: center;
        gap: 9px;
        img {
          width: 42px;
          height: 42px;
        }
        a {
          text-decoration: none;
          font-family: 'Inter Tight';
          font-weight: 300;
          width: max-content;
          color: white;
        }
      }
    }
  }
}
