.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  @include adaptive-value('padding-top', 32, 10, 1);
  @include adaptive-value('padding-right', 40, 20, 1);
  @include adaptive-value('padding-left', 40, 20, 1);
}
.header_top .logo {
  padding-top: 8px;
}
.after_logo {
  position: relative;
  cursor: pointer;

  h2 {
    opacity: 1;
    transition: 0.3s;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
  }

  img {
    top: 15px;
    position: absolute;
    margin-bottom: 85px;
    margin-left: 15px;
    transition: 0.3s;
    opacity: 0;
  }

  &:hover {
    h2 {
      opacity: 0;
    }
    img {
      transition: 0.3s;
      opacity: 1;
    }
  }
}
.header_bottom {
  @media (min-width: 768px) {
    margin-top: 118px;
  }
  
  height: max-content;
  position: relative;
}
.header_bottom-title {
  // padding: 43px 50px 0px;
  @include adaptive-value('padding-left', 50, 20, 1);
  padding-top: 43px;
  @include adaptive-value('font-size', 80, 24, 1);
  @include adaptive-value('height', 460, 210, 1);
  height: 48vh;
  width: 100%;
  display: block;
}
.header_bottom-title.out {
  display: none;
}

.header_bottom-title h1 {
  // line-height: 67px;
  font-weight: 400;
  // font-size: 80px;

  @media (min-width: 768px) {
    margin-top: 65px;
  }
   

  @include adaptive-value('line-height', 74, 24, 1);
  @include adaptive-value('font-size', 80, 24, 1);
  text-transform: uppercase;
}
.header_bottom-title h1 span {
  font-family: 'ALS Alumna';
  color: #898989;
  text-transform: none;
}
.header_bottom-cases {
  @media (min-width: 768px) {
    margin-top: 70px;
  }
 
  position: relative;
  @include adaptive-value('padding-bottom', 81, 30, 1);
}

.header_bottom-cases_box {
  overflow: hidden;
  margin-top: 10px;
  background: #000000;
  position: relative;
  @include adaptive-value('height', 815, 263, 1);
  // background-image: url('../../public/images/preloader.png');
  background-image: url('../../public/images/1_main1920.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  // background-position-y: 90px;
  background-size: 100% 100%;
  // @include adaptive-value('background-size', 1225, 390, 1);
  // @include adaptive-value('background-position-y', 90, 19, 1);
  // padding-bottom: 81px;
  cursor: none;
}
.header_bottom-cases_box img {
  float: right;
  padding: 90px 0px;
}

.cases_box_green {
  pointer-events: none;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3ece5d;
  position: absolute;
  border-radius: 50%;
  transition: opacity 500ms;
}
.cases_box_green p {
  font-weight: 500;
  font-family: 'Inter Tight';
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.eagle {
  width: max-content;
  z-index: -10;
  position: fixed;
  right: 0;
  top: 100px;
}
