@import '~@assets/styles/fonts.scss';
@import '~normalize.css/normalize.css';
@import '~@assets/styles/global.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@font-face {
  font-family: 'ALS Alumna';
  src: url('//db.onlinewebfonts.com/t/c5ee43325037adc9ae4c5b469e7c1ae4.eot');
  src: url('//db.onlinewebfonts.com/t/c5ee43325037adc9ae4c5b469e7c1ae4.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/c5ee43325037adc9ae4c5b469e7c1ae4.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/c5ee43325037adc9ae4c5b469e7c1ae4.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/c5ee43325037adc9ae4c5b469e7c1ae4.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/c5ee43325037adc9ae4c5b469e7c1ae4.svg#ALS Alumna')
      format('svg');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter Tight';
}
.container,
.portfolio_container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.tabs_container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
/*Header*/
.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px;
}
.header_top .logo {
  padding-top: 8px;
}
.after_logo h2 {
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}
.header_bottom {
  position: relative;
}
.header_bottom-title {
  padding: 180px 50px 0px;
  // position: fixed;
  height: 100vh;
  width: 100%;
  display: block;
}
.header_bottom-title.out {
  display: none;
}
.disApper {
  opacity: 0;
}
.header_bottom-title h1 {
  font-weight: 400;
  font-size: 80px;
  text-transform: uppercase;
}
.header_bottom-title h1 span {
  font-family: 'ALS Alumna';
  color: #898989;
  text-transform: none;
}
.header_bottom-cases {
  position: relative;
  margin-top: 80vh;
}
.eagle {
  position: fixed;
  right: 0;
  top: 100px;
}
.header_bottom-cases_box {
  margin-top: 10px;
  background: #000000;
  position: relative;
  height: 113vh;
  background-image: url('../../public/images/group_photo.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 90px;
  margin-bottom: 81px;
  cursor: none;
  transition: 0.4s;
  max-width: 100%;
  transform-origin: left !important;
}
.header_bottom-cases_box img {
  float: right;
  padding: 90px 0px;
}
.cases_box_green {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3ece5d;
  transform: rotate(45deg);
  top: 67px;
  left: 40px;
  position: absolute;
}
.cases_box_green p {
  font-weight: 500;
  font-size: 14px;
  transform: rotate(-45deg);
  font-family: 'Inter Tight';

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
/*Header end*/
/*Tabs start*/
.tabs__content {
  margin-bottom: 8%;
}
.tabs__nav {
  padding-left: 50px;
  display: flex;
}
.tabs__btn {
  margin-right: 125px;
  background: transparent;
  position: relative;
  border: none;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}
.tabs__btn_active::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-bottom: 3px solid #3ece5d;
  border-right: 3px solid #3ece5d;
  bottom: -1px;
  right: -4px;
}
.tabs__pane {
  display: none;
}
.website-mini_tab_content {
  display: none;
  transform: translate(0px, 50px);
}

.tabs__pane_show {
  display: block;
}
.website-mini_tab_content.active {
  display: block;
}
/*Tabs end*/

/*Product start*/
.info_box {
  margin-top: 28px;
  background: #f6f6f6;
  margin-left: 50px;
  padding: 19px 21px;
  position: relative;
  margin-right: 140px;
}
.info_box_top {
  display: flex;
  justify-content: space-between;
}
.info_box_top_left h2 {
  font-weight: 300;
  font-size: 45px;
  line-height: 54px;
  color: #000000;
  max-width: 500px;
}
.info_box_top_right h3 {
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
  text-align: right;
  color: #000000;
}
.info_box_top_right h3 span {
  font-size: 40px;
}
.info_box_bottom {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.info_box_bottom_left {
  display: flex;
  align-items: center;
  margin-top: 26px;
}
.info_box_bottom_left img {
  margin-right: 35px;
}
.info_box_bottom_right a {
  font-family: 'Inter Tight';

  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  color: #000000;
}
.info_box-tags {
  padding: 37px 90px 41px 17px;
  background: #000;
  position: absolute;
  right: -90px;
  bottom: -120px;
}
.info_box-tags h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  text-align: left;
}
.info_box-tags span {
  color: #3ece5d;
}
.info_box-tags h1 {
  font-weight: 700;
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.products_principles-inner {
  position: relative;
  padding-right: 98px;
}
.products_principles_border {
  position: relative;
}
.products_principles {
  padding-left: 86px;
}
.products_principles-title {
  display: flex;
  margin-bottom: 50px;
}
.products_principles-title h1 {
  font-weight: 300;
  font-size: 80px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: inline-block;
}
.products_principles-title h1::before {
  content: ' работы';
  font-weight: 400;
  font-family: 'ALS Alumna';

  font-size: 80px;
  color: #898989;
  opacity: 0.2;
  position: absolute;
  right: -125px;
  bottom: -40px;
  text-transform: lowercase;
}
.products_principles-center {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 770px;
  margin-bottom: 186px;
}
.products_principles-center p {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  margin-top: 16px;
  justify-content: center;
  font-family: 'Inter Tight';
}

.products_principles-center h4 {
  font-family: 'ALS Alumna';
  font-weight: 400;
  display: flex;
  color: #898989;
  justify-content: center;
  margin-left: 247px;
  text-align: left;
  margin-top: 16px;
  font-size: 20px;
}
.products_principles_border::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border-bottom: 3px solid #3ece5d;
  border-right: 3px solid #3ece5d;
  right: 0px;
}
/*Product end*/
/*website start*/
.websites-content_inner {
  padding-left: 96px;
  padding-right: 96px;
}
.websites-content_inner-title {
  display: flex;
  justify-content: flex-start;
}
.websites-content_inner-title h1 {
  font-weight: 300;
  font-size: 80px;
  color: #000000;
}
.websites-content_inner-body {
  display: flex;
  padding-top: 34px;
}
.websites-content_inner-body_left {
  max-width: 558px;
  width: 100%;
  margin-right: 225px;
}
.websites-tab.websites-tab_active {
  color: #000 !important;
}
.websites-content_inner-body_left .websites-tab {
  border-bottom: 1px solid #d9d9d9;
  padding-top: 35px;
  padding-bottom: 24px;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #898989;
  cursor: pointer;
}
.websites-tab span {
  font-family: 'Inter Tight';
  font-weight: 300;
  font-size: 32px;
  color: #3ece5d;
  margin-right: 23px;
}

.websites-content_inner-body_right {
  position: relative;
  max-width: 420px;
}
.website-tab_content_item p {
  font-family: 'Inter Tight';
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  padding-bottom: 160px;
  padding-top: 34px;
  text-align: left;
}
.border_green::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border-bottom: 3px solid #3ece5d;
  border-right: 3px solid #3ece5d;
  right: 0px;
}
.website-tab_content_item a {
  font-family: 'Inter Tight';
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: #000000;
}
/*website end*/

/*scroll start */
.swiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.swiper1 .swiper-wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 100%);
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  height: 100vh;
  display: block;

  width: 100%;
}
.swiper-pagination-bullet-active {
  background: #454545 !important;
}
.wrapper {
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
}
.wrapper .scroll-title {
  font-size: 21px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  z-index: 20;
  list-style: none;
  width: auto;
  padding: 0;
  color: white;
  font-weight: 100;
}

.wrapper .sections {
  width: 1300%;
  height: 100%;
}
.wrapper .sections .section {
  height: 100%;
  width: calc(100% / 13);
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper .sections .section .sectionTitle {
  position: absolute;
  width: 100%;
}

/*scroll end*/

/*TEAM START*/
.section3 {
  height: 100vh;
  position: sticky;
  top: 0;
}
.wrapper2 {
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
}
.sections2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navigation-dots {
  position: absolute;
  bottom: 20px;
  z-index: 2;

  display: flex;
  justify-content: center;
}
.navigation-dots .dot {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}
.navigation-dots .dot.active {
  background-color: blue;
}
.wrapper2 .sections .section {
  height: calc(100% / 4);
  width: 100%;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper2 .sections .section .sectionTitle2 {
  position: absolute;
  width: 100%;
}
.team-member {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}

.team_slider {
  width: 100%;
  height: 100vh;
  position: relative;
}
.team_slider-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 0 50px;
}
.team_slider-inner_slogan h1 {
  font-family: 'Inter Tight';
  font-weight: 300;
  font-size: 45px;
  color: #424d5e;
  max-width: 470px;
  text-align: left;
}
.team_slider-inner_bootom_left {
  text-align: left;
}
.team_slider-inner_slogan h1 img {
  width: 165px;
  height: 51px;
  margin-bottom: -20px;
}
.team_slider-inner_bootom {
  display: flex;
  justify-content: space-between;
  margin-top: 400px;
  align-items: flex-end;
}
.team_slider-inner_bootom h1 {
  font-weight: 300;
  font-size: 45px;
  color: #000000;
}
.team_slider-inner_bootom h2 {
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.team_slider-inner_bootom h3 {
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
/*TEAM END*/

/*Porfolio start*/

.portfolio_inner {
  padding-top: 175px;
  padding-left: 86px;
}
.portfolio_inner_title h1 {
  font-weight: 300;
  font-size: 80px;
  color: #000000;
}
.portfolio_inner_content h3 {
  font-weight: 300;
  font-size: 20px;
  text-align: right;
  color: #000000;
  position: relative;
}
.portfolio_inner_content {
  display: flex;
  padding-left: 311px;
  padding-top: 59px;
}
.portfolio_inner_content h3::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border-top: 3px solid #3ece5d;
  border-right: 3px solid #3ece5d;
  right: -8px;
}
/*Porfolio end*/

/*Carusel start*/
.carusel_inner {
  display: flex;
  padding-top: 213px;
}
.carusel_inner span {
  font-family: 'Inter Tight';
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  display: block;
}
.carusel_top span {
  margin: 20px;
}
.carusel_bottom span {
  margin-left: 50px;
  padding-bottom: 16px;
}
.carusel_top_banner,
.carusel_bottom_banner {
  position: relative;
  width: 100%;
}
.carusel_bottom {
  margin-top: 106px;
}
.carusel_bottom_banner {
  margin-left: -70px;
}
.carusel_top a {
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;
}
.carusel_top a span {
  font-family: 'Inter Tight';
  font-weight: 400;
  font-size: 20px;
  position: relative;
  color: #000000;
}
.carusel_top a span::before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #000000;
}
.carusel_top_banner .cases_box_green {
  top: 311px;
}
.carusel_banner_words h1 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  max-width: 320px;
  top: 75px;
  left: 86px;
}
.carusel_bottom_banner_words h1 {
  position: absolute;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  top: 200px;
  left: 73px;
}
.carusel_inner h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 30px;
  margin-left: 50px;
}

/*Carusel end*/

/*tab*/

.website-mini_tab_content {
  animation: scale 0.3s ease-in-out;
}
@keyframes scale {
  0% {
    transform: translate(0px, -20px);

    opacity: 0;
  }
  50% {
    transform: translate(0px, 40px);

    opacity: 0.5;
  }
  100% {
    transform: translate(0px, 50px);

    opacity: 1;
  }
}
/*tab*/

/*footer start*/
.footer {
  margin: 0 auto;
  background: #000000;
  width: 100%;
  margin-top: 500px;
}
.footer_inner {
  padding: 50px 50px 0px 50px;
}
.footer_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_title_right a {
  font-family: 'Inter Tight';
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
}
.footer_center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 584px;
  margin: 118px auto auto;
}
.footer_center-title {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 84px;
}
.footer_center-title h1 {
  font-weight: 300;
  font-size: 80px;
  color: #ffffff;
  text-align: center;
}
.footer_center-wrap_left {
  display: flex;
  flex-direction: column;
}
.footer_center-wrap_left a {
  font-family: 'Inter Tight';
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
}
.presentation {
  font-family: 'Inter Tight';
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  text-decoration-line: none;
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
  z-index: 2;
}
.presentation::before {
  content: 'pdf';
  position: absolute;
  width: 42px;
  height: 23px;
  background: #3ece5d;
  border-radius: 12px;
  font-family: 'Inter Tight';
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  top: -16px;
  right: -21px;
  z-index: -1;
}
.presentation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
  bottom: 0px;
}
.footer_center-wrap {
  display: flex;
  justify-content: space-between;
}
.footer_bottom {
  width: 100%;
  border-top: 0.4px solid #f5f7f7;
  display: flex;
  justify-content: space-between;
  padding: 24px 0px;
  margin-top: 176px;
}
.footer_bottom_item h2 {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.footer_bottom_item h2 img {
  margin-right: 12.5px;
}
.footer_bottom_item h3 {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 20px;

  color: #ffffff;
}
.footer_bottom_item h3 img {
  margin-right: 10px;
}
/*footer end*/
