.menu {
  left: 0;
  cursor: auto;
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  @include adaptive-value('padding-top', 39, 21, 1);
  @include adaptive-value('padding-right', 66, 26, 1);
  @include adaptive-value('padding-bottom', 46, 21, 1);
  @include adaptive-value('padding-left', 50, 20, 1);
  background-color: black;
  display: flex;

  .menu_client {  cursor: pointer;
    transition: 0.5s;
    &:hover {
      background: #1a9634;
    }
    text-align: right;
    border-radius: 100% 0% 0% 0%;
    @include adaptive-value('width', 145, 95, 1);
    @include adaptive-value('height', 132, 91, 1);
    background-color: #3ece5d;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Inter Tight';
    font-weight: 400;
    @include adaptive-value('font-size', 20, 12, 1);
    color: white;
    span {
      width: 100px;
      position: absolute;
      @include adaptive-value('bottom', 28, 21, 1);
      right: 15px;
    }
  }

  .menu_close {
    cursor: pointer;
    position: absolute;
    right: 3%;
    @include adaptive-value('top', 40, 15, 1);

    img {
      @include adaptive-value('width', 50, 40, 1);
      @include adaptive-value('height', 50, 40, 1);
    }

    &:hover {
      img {
        transition: 0.5s;
        opacity: 0.5;
      }
    }
  }

  .menu_navigate_container {
    display: flex;
    align-items: center;
    color: white;

    font-weight: 300;
    @include adaptive-value('gap', 290, 64, 1);

    @media (min-width: 1441px) {
      gap: 20vw;
    }

    .menu_navigate_nav {
      a {
        color: inherit;
        text-decoration: none;
      }
      font-family: 'Inter Tight';
      font-weight: 300;
      @include adaptive-value('font-size', 73, 32, 1);
      @include adaptive-value('line-height', 88, 39, 1);
      display: flex;
      flex-direction: column;
      gap: 7px;
      span {
        transition: 0.5s;
        &:hover {
          color: #9c9c9c;
        }
        cursor: pointer;
      }
    }

    .menu_navigate_logo {
      cursor: pointer;
      font-family: 'Inter Tight';
      @include adaptive-value('font-size', 35, 20, 1);
      font-weight: 500;
    }

    .letterL {
      color: #3ece5d;
    }
  }

  .menu_contacts {
    width: 100%;
    @include adaptive-value('max-width', 320, 60, 1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

    .menu_contacts_item {
      display: flex;
      align-items: center;
      gap: 9px;
      
      a {  transition: 0.5s;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Inter Tight';
        font-weight: 300;
        width: max-content;
        &:hover {
          color: #9c9c9c;
        }
      }
    }
  }
}
