.portfolio_main {
  padding-top: 15vh;
  @media (max-height: 800px) {
    padding-top: 10vh;
  }

  @include adaptive-value('padding-left', 192, 19, 1);

  @media (max-width: 560px) {
    width: 100vw;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 10vh;
  }
  .portfolio_main_title {
    h1 {
      font-weight: 300;
      @include adaptive-value('font-size', 80, 45, 1);
      color: #000000;
      @media (max-width: 560px) {
        padding-left: 10vw;
      }
    }
  }

  .portfolio_main_content {
    display: flex;
    @include adaptive-value('padding-left', 180, 69, 1);

    @media (max-width: 560px) {
      padding-left: 25vw;
      padding-top: 0px;
    }
    h3 {
      font-weight: 300;
      @include adaptive-value('font-size', 20, 12, 1);
      text-align: right;
      color: #000000;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        @include adaptive-value('width', 22, 16, 1);
        @include adaptive-value('height', 22, 16, 1);
        border-top: 3px solid #3ece5d;
        border-right: 3px solid #3ece5d;
        right: -15px;
        top: -14px;
      }
    }
  }
}
.portfolio_client {
  transition: 0.5s;
  &:hover {
    background: #1a9634;
  }
  cursor: pointer;
  text-align: left;
  border-radius: 0% 100% 0% 0%;
  @include adaptive-value('width', 175, 95, 1);
  @include adaptive-value('height', 132, 91, 1);
  background-color: #3ece5d;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Inter Tight';
  font-weight: 400;
  @include adaptive-value('font-size', 20, 12, 1);
  color: white;
  span {
    width: 100px;
    position: absolute;
    @include adaptive-value('bottom', 28, 21, 1);
    left: 15%;
  }
}

.portfolio_image {
  padding-top: 31vh;
  @include adaptive-value('width', 549, 150, 1);
  @include adaptive-value('height', 325, 120, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    object-fit: cover;
  }

  @media (max-width: 560px) {
    width: max-content;
    padding-top: 0px;
    height: 25vh !important;
    padding-bottom: 50px;
    img {
      padding-bottom: 20px;
      object-fit: contain;
      height: 25vh !important;
    }
  }

  span {
    width: 54%;
    @media (max-width: 560px) {
      margin-top: 0px;
      width: auto;
    }
    transition: 0.2s;
    margin-top: 20px;
    font-family: 'Inter Tight';
    font-weight: 400;
    @include adaptive-value('font-size', 16, 12, 1);
    line-height: 140%;
  }
}

.portfolio_pagination_container {
  width: 100vw;
  bottom: 5vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
  @media (max-width: 560px) {
    padding-left: 33px;
    padding-right: 33px;
    bottom: 11vh;
    height: 101px;
  }
  // margin-top: 4vh;
  // @include adaptive-value('margin-top', 140, 0, 1);
}
.portfolio_pagination_content {
  width: 67.7vw !important;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  @include adaptive-value('font-size', 24, 10, 1);
  margin-left: 68%;
  @media (max-width: 560px) {
    width: 100% !important;
    font-size: 16px;
    margin-left: 0px;
    gap: 50px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 0px !important;
    }
  }
  font-family: 'Inter Tight';

  justify-content: space-between;
  font-weight: 400;

  padding-bottom: 18px;

  border-bottom: 1px solid #dfdede;
  &:nth-child(1n) {
    padding-left: 10px;
  }
  .portfolio_pagination_content_year {
    cursor: pointer;
    padding-bottom: 10px;
    font-family: 'Inter Tight';
    font-weight: 300;
  }
  .portfolio_pagination_content_year_active {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 70px;
      height: 1px;
      left: -10px;
      bottom: -18px;
      background: green;
    }
  }
}

#mainContainer {
  .swiper {
    height: 66vh !important;
    @media (max-width: 560px) {
      height: 60vh !important;
      // margin-left: 8px !important;
    }
    .swiper-wrapper {
      padding-left: 1vw;
  
      @media (max-width: 560px) {
        flex-direction: column;
  
        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
  
          flex-direction: column;
        }
      }
    }
  }
}
 

#logoSlide {
  overflow: hidden;
  transition: 0.5s !important;
  .portfolio_image_first {
    @include adaptive-value('width', 549, 150, 1);
    @include adaptive-value('height', 325, 120, 1);
    position: absolute;
    transition: 0.3s;
    @include adaptive-value('right', 5, -110, 1);
    @media (max-width: 768px){
      right: -77px
    }
    top: 11vh;
    display: flex;
    flex-direction: column;
    @include adaptive-value('gap', 20, 10, 1);
    font-family: 'Inter Tight';
    font-weight: 300;
    @include adaptive-value('font-size', 16, 12, 1);
    img {
      object-fit: cover;
    }
    span {
      @include adaptive-value('width', 354, 1, 1);
      @media (max-width: 768px){
        word-break: break-word;
      }
    }
  }
  .portfolio_image_second {
    transition: 0.3s;
    @include adaptive-value('width', 549, 150, 1);
    @include adaptive-value('height', 325, 120, 1);
    position: absolute;

    left: 87vw;
    top: 16vh;
    display: flex;
    flex-direction: column;
    @include adaptive-value('gap', 20, 10, 1);
    font-family: 'Inter Tight';
    font-weight: 300;
    @include adaptive-value('font-size', 16, 12, 1);
    img {
      object-fit: cover;
    }
    span {
      width: 12vw;
       
    }
  }
}

.swiper-slide {
  @media (max-width: 560px) {
   
  }
}

#firstSlideOnPhone {
  .swiper-wrapper {
    padding-top: 0px !important;
  }
}
