.title {
  color: #000;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: 96px;
  letter-spacing: 0.8px;
  max-width: 911px;
}

.title:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-top: 2px solid #3ece5d;
  border-right: 2px solid #3ece5d;
}
