.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  z-index: 10;
  width: 90%;
}

.navMenu {
  display: flex;
  gap: 24px;
}

.navBtn {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.08px;
  cursor: pointer;
}

.navBtnUnderline {
  text-decoration-line: underline;
}

.contactsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.tgBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.tgIcon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.tgLink {
  color: #000;
  font-family: Inter Tight;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.08px;
  text-decoration-line: underline;
}

.phoneBlock {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  text-decoration-line: underline;
  cursor: pointer;
}
