.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73px;
  position: fixed;
  z-index: 10;
  width: 100vw;
  background: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.navMenu {
  display: flex;
  gap: 24px;

  transform: scale(1);
  opacity: 1;
  transition: all 0.8s ease 0s;
}

.active {
  display: flex;
  gap: 24px;

  transform: scale(0.5);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.navBtn {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.08px;
  cursor: pointer;
  position: relative;
}

.navBtn:before {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.navBtn:hover::before {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 1;
  transition: all 0.4s ease 0s;
}

.navBtnUnderline {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.08px;
  cursor: pointer;
  position: relative;
}

.navBtnUnderline:before {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 1;
  transition: all 0.4s ease 0s;
}

.navBtnUnderline:hover::before {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.contactsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.activeContactsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0s;
}

.tgBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.tgIcon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.tgLink {
  position: relative;
  width: fit-content;
  color: #000;
  font-family: Inter Tight;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.08px;
}


.tgLink:before {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 1;
  transition: all 0.4s ease 0s;
}

.tgLink:hover::before {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.phoneBlock {
  position: relative;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  cursor: pointer;
}


.phoneBlock:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background: #000;
  opacity: 1;
  transition: all 0.4s ease 0s;
}

.phoneBlock:hover::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background: #000;
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.burgerBtn {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burgerBtnIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.8s ease 0s;
  scale: 1;
}

.burgerBtnIcon:hover {
  transition: all 0.8s ease 0s;
  scale: 0.8;
}

.burgerDesktopBtn {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {
  .contactsBlock {
    gap: 16px;
  }
  .burgerBtn {
    margin-left: 0;
    width: 43px;
    height: 19px;
  }
  .header {
    height: 51px;
  }
}

@media screen and (max-width: 374px) {

}
