.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73px;
  position: fixed;
  z-index: 10;
  width: 100vw;
  background: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.navMenu {
  display: flex;
  gap: 24px;
}

.navBtn {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.08px;
  cursor: pointer;
}

.navBtnUnderline {
  text-decoration-line: underline;
}

.contactsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.tgBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.tgIcon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.tgLink {
  color: #000;
  font-family: Inter Tight;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.08px;
  text-decoration-line: underline;
}

.phoneBlock {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  text-decoration-line: underline;
  cursor: pointer;
}

.burgerBtn {
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burgerBtnIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {
  .contactsBlock {
    gap: 16px;
  }
  .burgerBtn {
    margin-left: 0;
    width: 43px;
    height: 19px;
  }
  .header {
    height: 51px;
  }
}

@media screen and (max-width: 374px) {

}
