html {
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  background: white;
  font-weight: 400;
}

@mixin adaptive-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    #{$property}: $startSize + px;
    @media (max-width: #{1440 + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 390px) / #{1440 - 390})
      );
    }
  } @else if $type==2 {
    #{$property}: $startSize + px;
    @media (min-width: #{1440 + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 390px) / #{1920 - 390})
      );
    }
  } @else {
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw- 390px) / #{1920 - 390})
    );
  }
}
 

.letterL {
  color: #3ece5d;
}

* {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    display: none;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #3ece5d;
    border-radius: 10px;
  }

  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
